<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qidi.sharding.dao.department.DepartmentDao" >

	<resultMap id="departmentResultMap" type="com.qidi.sharding.model.department.Department">
		<id property="id" column="id"/>
		<result property="departmentname" column="departmentName"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.qidi.sharding.model.department.Department">
		insert into department
		<trim prefix="(" suffixOverrides="," suffix=")">
        <if test="id != null">id,</if>
        <if test="departmentname != null">departmentName,</if>
        </trim>
    	values
    	<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="id != null">#{id},</if>
        <if test="departmentname != null">#{departmentname},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.qidi.sharding.model.department.Department">
		update department
    	<set>
  			<if test="departmentname != null">departmentName=#{departmentname}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getDepartmentById" parameterType="long" resultMap="departmentResultMap">
		select * from department
		where ID=#{id} 
	</select>
  
	<select id="countDepartment" parameterType="map" resultType="int">
		select count(*) from department
		<include refid="queryCondition"/>
	</select>
  
	<select id="getDepartmentList" parameterType="map" resultMap="departmentResultMap">
		select * from department
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="departmentname != null">and departmentName=#{departmentname}</if>
		</where>
	</sql>
   
</mapper>